<div class="tw-marquee color-{{ section.settings.color_scheme }} gradient" role="region" aria-label="Marquee">
  <div class="page-width">
    <div class="tw-marquee__inner" aria-hidden="true">
      {%- for i in (1..8) -%}
        <span class="tw-marquee__text">{{ section.settings.text | escape }}</span>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tweaker marquee",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "BLACK TEES • BOLD BACK PRINTS • INDIA DROP •"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Tweaker marquee"
    }
  ]
}
{% endschema %}

